<template>
	<div class="card flex flex-col text-center justify-center items-center rounded-lg m-4 p-3 bg-gray-900 text-white ">
		<slot/>
	</div>
</template>

<script lang="ts">

import { defineComponent } from 'vue';

export default defineComponent({
	name: 'Card',
	components: {},
	props: {
		child: {
			type: String,
		},
	},
});
</script>

<style scoped>

</style>