<template>
	<div class="flex flex-col">
		<h3 class="text-xl text-center font-bold m-5" v-bind:class="{'text-yellow-500': !rooms?.length }">
			{{ !rooms?.length ? 'No meeting\'s room available for this period' : 'Meeting\'s room available' }}
		</h3>

		<table v-if="rooms?.length" class="rounded-lg m-4 bg-gray-800 text-gray-200">
			<tr class=" border-b border-gray-300">
				<th class="px-4 py-3">Name</th>
				<th class="px-4 py-3">Capacity</th>
				<th class="px-4 py-3">Description</th>
				<th class="px-4 py-3">Equipements</th>
				<!--			<th class="px-4 py-3">Reservations</th>-->
			</tr>
			<tr v-for="room of rooms" class="bg-gray-700 border-b border-gray-600">
				<td class="px-4 py-3">{{ room.name }}</td>
				<td class="px-4 py-3">{{ room.description }}</td>
				<td class="px-4 py-3">{{ room.capacity }}</td>
				<td class="px-4 py-3">{{ room.equipements.map(e => e.name).join(', ') }}</td>
				<!--			<td class="px-4 py-3">{{ room.reservations }}</td>-->
			</tr>

		</table>
	</div>
</template>

<script lang="ts">
import { defineComponent, ref, toRefs } from 'vue';

export default defineComponent({
	name: 'Table',
	components: {},
	props: {
		rooms: {
			type: Array,
		},
	},
	setup(props) {
		const { rooms } = toRefs(props);
		const headers = ref(null);
		if (rooms.value?.[0]) headers.value = Object.keys(rooms.value[0]);
		return { headers };
	},
});
</script>

<style scoped>
</style>