<!--suppress JSPotentiallyInvalidConstructorUsage -->
<template>
	<!--	<MyCalendar/>-->

	<div class="meeting-room flex flex-col">
		<div class="flex flex-row">
			<Card class="welcome flex-1">
				<div class="text-3xl m-4">MeetingRoom</div>

				<div class="my-3 flex content-center text-center">Welcome to our Meeting's room page</div>
			</Card>
			<Card class="form flex-1">
				<p class="m-4">Select a meeting's room</p>
				<div class="flex justify-around w-full">
					<div class="flex flex-col w-full justify-evenly items-center">
						<div>From</div>
						<label>
							<input class="text-black m-2 p-1"
								   :v-model="from"
								   type="date"
								   @change="(e)=>{OnDateChange(e,'from')}"/>
						</label>

						<div>At</div>
						<label>
							<input class="text-black m-2 p-1"
								   type="time"
								   @change="(e)=>OnTimeChange(e,'from')"/>

						</label>
					</div>

					<div class="flex flex-col w-full justify-evenly items-center">
						<div>To</div>
						<label>
							<input class="text-black m-2 p-1"
								   :v-model="to"
								   type="date"
								   @change="(e)=>{OnDateChange(e,'to')}"/>
						</label>

						<div>At</div>
						<label>
							<input class="text-black m-2 p-1"
								   type="time"
								   @change="(e)=>OnTimeChange(e,'to')"/>

						</label>
					</div>
				</div>

				<div>
					<button class="search-button p-1 px-3 ml-4 m-2" @click="search">Search</button>
					<div v-if="error" class="text-red-500 text-lg">{{ error }}</div>
				</div>

			</Card>
		</div>

		<Table :if="isLoading" :rooms="rooms"/>
	</div>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue';
import Card from '../components/Card.vue';
import { RoomConnector } from '../connectors/RoomConnector';
import Table from '../components/Table.vue';
import MyCalendar from '../components/MyCalendar.vue';

export default defineComponent({
	name: 'MeetingRoom',
	components: {
		MyCalendar,
		Table,
		Card,
	},
	setup() {
		const isLoading = ref(false);
		const error = ref(null);
		const rooms = ref(null);
		const getRooms = async ({ from, to } = {}) => {
			console.log({ from, to });
			isLoading.value = true;
			try {
				let tempRooms = await RoomConnector.findAll({ from, to });
				rooms.value = tempRooms;
				// Removing unwanted property
				tempRooms = tempRooms.map(({ id, updatedAt, createdAt, __v, ...rest }) => rest);
				rooms.value = tempRooms;
				console.log(rooms.value);

				isLoading.value = false;
				error.value = null;
			} catch (e) {
				error.value = e;
			}
			return { isLoading: isLoading.value, error: error.value, rooms: rooms.value };
		};
		getRooms();

		// const from = new Date();
		// const to = new Date();

		return {
			isLoading, error, rooms, getRooms,
			// from, to
		};
	},
	data: () => {
		let from = new Date();
		from.setSeconds(0);
		from.setMilliseconds(0);

		let to = new Date(from);

		return { from, to };
	},
	methods: {

		OnDateChange({ target: { value } }, varName) {
			this[varName] = new Date(value);
		},
		OnTimeChange({ target: { value } }, varName) {
			const [h, m] = value.split(':');
			this[varName].setHours(h);
			this[varName].setMinutes(m);

		},
		async search() {
			console.log('search');
			console.log(this.from, this.to);


			const { isLoading, error, rooms } = await this.getRooms({ from: this.from, to: this.to });
			console.log(this.rooms);
			console.log({ isLoading, error, rooms });
			console.log(error);
			this.rooms = rooms;
			console.log(this.rooms);
		},
	},
});

</script>

<style scoped>
.search-button {
	background: linear-gradient(90deg, #ff3395, #ffb800 50%)
}
</style>