<template>
	<MeetingRoom msg="Hello Vue 3 + TypeScript + Vite"/>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import MeetingRoom from './pages/MeetingRoom.vue';

export default defineComponent({
	name: 'App',
	components: {
		MeetingRoom,
	},
});
</script>

<!--suppress CssUnusedSymbol -->
<style>
html {
	margin: 0;
	height: 100%;
}

body {
	min-height: 100%;
	box-sizing: border-box;
	/*border: solid rgba(0,0,0,0) 0px;*/
	border: solid rgba(0, 0, 0, 0) 1px;
}

body #app {
	font-family: 'Cabin', sans-serif !important;

}

#app {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	color: #2c3e50;
	margin-top: 60px;
}
</style>